.home-container {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  background-color: #299cd2;
  height: 100vh;
}

.home-header {
  font-size: 3.5em;
  margin-bottom: 1rem;
  color: #000000;
}

.home-paragraph {
  font-size: 1.2em;
  color: #ffffff;
}

.home-logo {
  height: 8em;
  margin-top: 1rem;
  animation: logo-swing infinite 4s ease-in-out;
}

@keyframes logo-swing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(0deg);
  }
}